<!DOCTYPE html>
<html lang="en">
<head>
  <title> Gaming Merchandise|Virtual Items Trading </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename="css/style.css")}}" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="gun_icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>	
      ul{
	     list-style-type: none;
	     font-style: oblique; 
	     font-size: 16px;
	}
    </style>
</head>
<body style="background-image:url({{url_for('static', filename="images/bg.jpg")}});">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:8000/main"><strong>Gaming Merchandise </strong> </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:8000/main">Home</a></li>
      <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">New Items
                 <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="http://localhost:8000/popular_items">Popular Items</a></li>
                   <li><a href="http://localhost:8000/popular_keys">Popular Keys</a></li>
                 </ul>
               </li>
      <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop
                 <span class="caret"></span></a>
			     <ul class="dropdown-menu">
			       <li><a href="http://localhost:8000/shop">All Guns and Knives</a></li>
                   <li><a href="http://localhost:8000/all_keys">All Keys</a></li>
                   <li><a href="http://localhost:8000/misc_items">Miscellaneous</a></li>
                 </ul>
               </li>
               <li><a href="http://localhost:8000/contact"> Order / Contact</a></li>
               <li><a href="http://localhost:8000/try_your_luck">Lucky Draw</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://localhost:8000/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="http://localhost:8000/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<form action="http://localhost:8000/login2" method="post">
Username:<br>
<input type="text" name="username" id="username">
<br>
Password:<br>
<input type="password" name="password" id="password">
<br><br>
<input type="submit" value="Login">
</form> 
</body>
</html>
